.nav-container{
    background-color: black;
}
.header {
    font-size: 30px;
    text-align: center;
    /* color: white; */
}
a{
    color: white;
}
.button-two {
    /* float: right; */
    display: flexbox;
    display: inline;
    color: white;
}
.navbar {
    text-align: center;
    background-color: black;
} 
nav {
    background-color: black;
}
h2 {
    text-align: center;
}